
spring.application.name=Telegram Bot Force Sub

# MongoDB URI with improved configuration
spring.data.mongodb.uri=

# Connection settings
spring.data.mongodb.connection-pool-max-wait-time=20000
spring.data.mongodb.connect-timeout=10000
spring.data.mongodb.socket-timeout=20000
spring.data.mongodb.max-connection-idle-time=60000
spring.data.mongodb.retry-writes=true

# MongoDB connection pool settings
spring.data.mongodb.connection-pool-min-size=5
spring.data.mongodb.connection-pool-max-size=10


bot.token=
bot.username=
owner.username=
owner.userid=
channel.id=
bot.id=
admin.id=
data.message=
protect.content=true

start.message.not.join=
start.message.after.join=
help.message=